.bg-black {
  background-color: #000;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
header ul {
  display: flex;
}

.ice-cream-cones.jpg {
  display: block;
  margin: 0 auto;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1.5em;
  padding-right: 0;
  padding-bottom: 1.5em;
  padding-left: 0;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav {
  text-align: left;
}

nav ul li {
  display: inline;
}
nav a:link {
  padding-top: .5em;
  padding-right: .75em;
  padding-bottom: .5em;
  padding-left: .75em;
  border-radius: 8px;
}

nav a:link, ul a:visited {
  color: #fff;
  border: 2px solid 8px;
  text-decoration: none; 
}

nav a:hover, ul a:focus {
  background-color: #fff;
  color:#000;
  border: 2px solid #000;
}
div > h1 {
width: 75%;
padding-top: .5em;
padding-right: .5em;
padding-bottom: .5em;
padding-left: .5em;
margin: 0 auto;
color: #fff;
text-align: center;
font-size: 2rem;
text-shadow: 2px 2px #000(0,0,0,.8);
}
.welcome {
  background-color: #7251B5;
  color:#fff;
}
.flavours {
  color: #DEC9E9;
  
}
.favourites {
background-color:#000;
color: #fff;
}

.team {
  background-color: #7251B5;
  color:#fff;
}


footer {
  background-color: #000;
  color: #fff;
}

footer .wrapper {
  text-align: center;
  padding: 8px;
  padding-right: 0;
  padding-bottom: 8px;
  padding-left: 0;
}